.clearfix{
    clear: both;
}

.texto1{
    display: block;
    float: left;
}

.texto1 h4{
    margin-left: 200px;
    font-weight: normal;
}

.orson{
    display: block;
    float: right;
    width: 100px;
    margin-right: 650px;
    margin-top: 20px;
    transition: all 200ms;
}

.orson:hover{
    transform: scale(1.1);
}

.principito{
    display: block;
    float: left;
    margin-top: 27px;
    margin-left: 20px;
    transition: all 200ms;
}

.principito:hover{
    transform: scale(1.1);
}

.texto2{
    display: block;
    float: right;
    margin-right: 650px;
}

.texto2 h4{
    margin-left: 200px;
    font-weight: normal;
}

body{
    margin: auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #8395a7, #833471, #2980b9, #8395a7);
    background-size: 300% 300%;
    animation: animate-background 20s infinite ease-in-out;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}